@tailwind base;
@layer base {
  @font-face {
    font-family: BYekan;
    src: url("../public/assets/fonts/BYekan-webfont.eot") format("eot");
    src: url("../public/assets/fonts/BYekan-webfont.woff") format("woff");
    src: url("../public/assets/fonts/BYekan-webfont.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
  }
}
@tailwind components;
@layer components {
  .title-color {
    @apply text-gray-700 dark:text-gray-400;
  }
  .border-style {
    @apply border-gray-300;
  }
  .flex-center {
    @apply flex justify-center items-center;
  }
  .custom-transition {
    @apply transition-all ease-in duration-300;
  }
}
@tailwind utilities;
